In [265]:
import pandas as pd

### Sampling rate

In [266]:
sampling_rate = '10L'

In [267]:
##TODO: accept an input directory and process all the files

In [268]:
raw_acc_file = 'raw_acc.txt'

In [269]:
raw_obd_file = 'raw_obd.txt'

### Reference file

In [270]:
ref_DF =  pd.read_csv(raw_obd_file)

In [271]:
ref_variable = 'timestamp' # variable of obd file

### Processing

In [272]:
acc_DF = pd.read_csv(raw_acc_file)

In [273]:
obd_DF = pd.read_csv(raw_obd_file)

In [274]:
acc_DF.head(5)

   timestamp       sys_time     abs_timestamp  raw_x_acc  raw_y_acc  raw_z_acc
0        0.0  1508975971982  2605508272423122   9.662998   0.517148  -0.612916
1        5.0  1508975971988  2605508277444997   9.691729   0.402226  -0.641646
2        9.0  1508975971993  2605508282402810   9.624691   0.191536  -0.536301
3       15.0  1508975971998  2605508287426247   9.634268  -0.019154  -0.296881
4       19.0  1508975972002  2605508292415310   9.749189  -0.114922   0.076614

In [275]:
obd_DF.head(5)

,timestamp,RPM,Speed,Consumption_Rate,AirFuelRatio,ThrottlePosition,MassAirFlow,FuelType,FuelLevel,FuelTrim,...,AirIntakeTemperature,AmbientAirTemperature,EngineCoolantTemperature,FuelPressure,DistanceMIL,DistanceSinceCCC,EquivalentRatio,IgnitionMonitor,ModuleVoltage,PendingTroubleCodes
0,1508975975440,1667RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1508975976257,1652RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1508975976834,1646RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1508975977029,1663RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1508975977207,1660RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
start_time = int(ref_DF[ref_variable].head(1))

In [277]:
start_time

1508975975440

In [278]:
end_time = int(ref_DF[ref_variable].tail(1))

In [279]:
end_time

1508976453224

### Sync start and end time

In [280]:
#TODO: repeat for all other files

In [281]:
acc_DF = acc_DF.loc[(acc_DF['sys_time'] >= start_time) & (acc_DF['sys_time'] <= end_time)]

In [282]:
acc_DF.head(5)

,timestamp,sys_time,abs_timestamp,raw_x_acc,raw_y_acc,raw_z_acc
692,3460.0,1508975975445,2605511732459060,9.720459,0.210690,0.287304
693,3465.0,1508975975448,2605511737440310,9.710882,0.296881,0.392649
694,3470.0,1508975975453,2605511742429372,9.662998,0.373495,0.220267
695,3474.0,1508975975458,2605511747419997,9.548077,0.363919,0.306458
696,3479.0,1508975975462,2605511752409060,9.356541,0.335188,0.325611

### Change the default time stamp to 0

In [283]:
acc_DF['sys_time'] = acc_DF['sys_time'] - start_time

In [284]:
obd_DF['timestamp'] = obd_DF['timestamp'] - start_time

In [285]:
acc_DF.head(5)

     timestamp  sys_time     abs_timestamp  raw_x_acc  raw_y_acc  raw_z_acc
692     3460.0         5  2605511732459060   9.720459   0.210690   0.287304
693     3465.0         8  2605511737440310   9.710882   0.296881   0.392649
694     3470.0        13  2605511742429372   9.662998   0.373495   0.220267
695     3474.0        18  2605511747419997   9.548077   0.363919   0.306458
696     3479.0        22  2605511752409060   9.356541   0.335188   0.325611

In [286]:
obd_DF.head(5)

,timestamp,RPM,Speed,Consumption_Rate,AirFuelRatio,ThrottlePosition,MassAirFlow,FuelType,FuelLevel,FuelTrim,...,AirIntakeTemperature,AmbientAirTemperature,EngineCoolantTemperature,FuelPressure,DistanceMIL,DistanceSinceCCC,EquivalentRatio,IgnitionMonitor,ModuleVoltage,PendingTroubleCodes
0,0,1667RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,817,1652RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1394,1646RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1589,1663RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1767,1660RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Convert timestamp to Epoch for sampling

In [287]:
acc_DF['sys_time'] = pd.to_datetime(acc_DF['sys_time'], unit='ms')

In [288]:
obd_DF['timestamp'] = pd.to_datetime(obd_DF['timestamp'], unit='ms')

In [289]:
acc_DF.head(5)

,timestamp,sys_time,abs_timestamp,raw_x_acc,raw_y_acc,raw_z_acc
692,3460.0,1970-01-01 00:00:00.005,2605511732459060,9.720459,0.210690,0.287304
693,3465.0,1970-01-01 00:00:00.008,2605511737440310,9.710882,0.296881,0.392649
694,3470.0,1970-01-01 00:00:00.013,2605511742429372,9.662998,0.373495,0.220267
695,3474.0,1970-01-01 00:00:00.018,2605511747419997,9.548077,0.363919,0.306458
696,3479.0,1970-01-01 00:00:00.022,2605511752409060,9.356541,0.335188,0.325611

In [290]:
obd_DF.head(5)

,timestamp,RPM,Speed,Consumption_Rate,AirFuelRatio,ThrottlePosition,MassAirFlow,FuelType,FuelLevel,FuelTrim,...,AirIntakeTemperature,AmbientAirTemperature,EngineCoolantTemperature,FuelPressure,DistanceMIL,DistanceSinceCCC,EquivalentRatio,IgnitionMonitor,ModuleVoltage,PendingTroubleCodes
0,1970-01-01 00:00:00.000,1667RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970-01-01 00:00:00.817,1652RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970-01-01 00:00:01.394,1646RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970-01-01 00:00:01.589,1663RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1970-01-01 00:00:01.767,1660RPM,0km/h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Perform resampling

In [320]:
###TODO: Verify resampling

In [326]:
len(acc_DF.index)

478

In [321]:
acc_DF = acc_DF.resample(sampling_rate, on='sys_time').mean()

In [322]:
len(acc_DF.index)

478

In [330]:
acc_DF.head(5)

                     timestamp  abs_timestamp  raw_x_acc  raw_y_acc  raw_z_acc
sys_time
1970-01-01 00:00:00   3957.130   2.605512e+15   9.668170   0.239707   0.314311
1970-01-01 00:00:01   4957.100   2.605513e+15   9.666590   0.247369   0.314550
1970-01-01 00:00:02   5957.080   2.605514e+15   9.669415   0.252828   0.284958
1970-01-01 00:00:03   6957.115   2.605515e+15   9.681003   0.412282  -0.117603
1970-01-01 00:00:04   7957.095   2.605516e+15   9.699582   0.683353  -0.202933

In [323]:
len(obd_DF.index)

4384

In [324]:
obd_DF = obd_DF.resample(sampling_rate, on='timestamp').mean()

In [325]:
len(obd_DF.index)

4778

In [329]:
obd_DF.head(5)

,Consumption_Rate,AirFuelRatio,ThrottlePosition,MassAirFlow,FuelType,FuelLevel,FuelTrim,WidebandAirFuelRatio,EngineLoad,AirIntakeTemperature,AmbientAirTemperature,EngineCoolantTemperature,FuelPressure,DistanceMIL,DistanceSinceCCC,EquivalentRatio,IgnitionMonitor,ModuleVoltage,PendingTroubleCodes
timestamp,,,,,,,,,,,,,,,,,,,
1970-01-01 00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN